.container {
    position: relative;
}

.toggle {
    margin: 50px auto 20px;
    width: 79px;
    height: 33px;
    border: 3px solid black;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    background-color: green;
}

.circle {
    border-radius: 50%;
    transition: 0.5s;
    width: 40px;
    height: 30px;
    background-color: white;
}

.col {
    background: red;
    transition: 0.6s;
}

.move {
    justify-content: start;
}

.black {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.877);
}

.name {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    color: white;
    margin: auto;
    transition: 3s;
    opacity: 0;
    position: relative;
}

.name::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -9px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px;
    border-color: transparent transparent red transparent;
}

.showName {
    transition: 3s;
    opacity: 1;
}